<div class="student-detail">
    <h1>Hi I am {{student.firstname}} {{student.lastname}} </h1>
    <img src="https://wd-ft-feb.s3.eu-central-1.amazonaws.com/{{student.firstname}}.png" alt="">
    <p>I like coding very much</p>
</div>
